<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".YieldBrowserApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/launcher_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.YieldBrowser"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:supportsPictureInPicture="false"
            android:theme="@style/Theme.YieldBrowser.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:documentLaunchMode="never"
            android:excludeFromRecents="false"
            android:exported="false"
            android:launchMode="singleTop"
            android:supportsPictureInPicture="false" />

        <activity
            android:name=".PrivateBrowserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:documentLaunchMode="never"
            android:excludeFromRecents="false"
            android:exported="false"
            android:label="Yield Privat"
            android:launchMode="singleTask"
            android:process=":incognito"
            android:taskAffinity="${applicationId}.incognito"
            android:supportsPictureInPicture="false" />

        <service
            android:name=".DownloadKeepAliveService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name=".PrivateDownloadKeepAliveService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:process=":incognito" />

        <receiver
            android:name=".DownloadOpenReceiver"
            android:exported="false" />
    </application>
</manifest>
